.details {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 50vh;
  margin: 5% 0 2% 0;

  &_poster {
    width: 30%;
    height: 100%;
    margin-right: 20px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;

    &__info {
      display: flex;
      flex-direction: row;

      p {
        margin-right: 20px;
      }

      .vote {
        position: relative;
        height: 40px;
        width: 40px;
        transform: scale(1.2);

        div {
          top: 0;
          left: 0;
        }
      }

      .tagline {
        color: gray;
        font-style: italic;
      }
    }

    &__overview {
      display: flex;
      flex-direction: column;

      span {
        margin-top: 5px;
      }
    }

    &__additional {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 10px;
      min-height: 25%;

      .slice {
        &__title {
          font-weight: normal;
          letter-spacing: 2px;
        }

        &__text {
          font-weight: normal;
          letter-spacing: 2px;
          color: gray;
        }
      }
    }
  }
}
