@use "../scss/_variables.scss" as *;

.list-container {
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  //flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  position: relative;
  min-height: 20vh;
  margin-top: 10px;

  .error-message {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-weight: bold;
    margin-top: 20vh;

  }
}


