.list-container {
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  //flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  position: relative;
  min-height: 20vh;
}

.error-message {
  color: whitesmoke;
  font-weight: bold;
  margin: 20vh auto;
}
