.list-container {
  display: flex;
  position: relative;
  min-height: 20vh;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.error-message {
  color: whitesmoke;
  font-weight: bold;
  margin: 20vh auto;
}
