@use "../../scss/_index.scss" as *;
@use "../../scss/_breakpoint.scss" as *;
@use "../../scss/_variables.scss" as *;
@use "../../scss/_mixin.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  min-height: 350px;
  border-radius: $border-radius;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    transform: scale(1.03);
  }

  img {
    border-radius: $border-radius;
  }

  .title {
    margin: 5px 0 10px 5px;
    font-weight: bold;
    color: $white;
    text-align: left;
    overflow: hidden;
    z-index: 10;
  }
}
