.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  padding: 4px;
  margin: 15px 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }

  .favourite {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    color: whitesmoke;
    right: 7px;
    top: 7px;

    .icon {
      width: 60%;
      height: 60%;
    }
    .icon.active {
      color: rgb(226, 182, 22);
    }
  }

  .favourite.active {
    opacity: 1;
  }

  .poster {
    border-radius: 10px;
  }

  .title {
    margin: 10px 0 5px 0;
    height: 35px;
    font-weight: bold;
    color: black;
    text-align: left;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    margin: 0;

    .release {
    }
    .type {
    }
  }
}
