@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: left;
  text-transform: uppercase;
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  padding: 20px;
  box-shadow: 0 1px 5px black;
  color: black;

  @media (min-width: 401px) and (max-width: 1025px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo {
    display: block;
    padding: 5px;
    margin-left: 5%;
    background-color: #e2b616;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;

    @media (max-width: 400px) {
      margin-left: 0;
      font-size: 4vw;
    }
    @media (min-width: 401px) and (max-width: 1025px) {
      font-size: 3vw;
    }
  }
}
