@use "../../scss/variables" as *;
@use "../../scss/mixin" as *;
@use "../../scss/breakpoint" as *;

.trailer {
  @include flex(center, center);
  width: 140px;
  height: 40px;
  text-align: center;

  border: 2px solid $white;
  border-radius: $border-radius;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: $body-bg;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
  @include mobile {
    font-size: 1.1rem;
    width: 110px;
    height: 30px;
  }

  &:hover {
    background-color: $main-color;
    border-color: $main-color;
  }
}
