@use "../../scss/variables" as *;
@use "../../scss/_breakpoint.scss" as *;

input {
  border: 2px solid $white;
  background-color: $black;
  margin-top: 20px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: $border-radius;
  color: $txt-color;
  font-family: $font-family;

  @include mobile {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
  }
}
