@use "../../scss/_variables.scss" as *;
@use "../../scss/_mixin.scss" as *;

.vote {
  @include flex(center, center);
  position: absolute;
  left: 65%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: $black;
  background-color: $white;
  border: 3px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}
